.taskInputs{
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 0.5rem;
    transform: translateY(-1.72rem)
}

.addTask{
    outline: none;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 6px;
    background-color: var(--gray-500);
    color: var(--gray-300);
    font-size: 1rem;
    transition: 0.3s ease;
}

.addTask:hover{
    background: var(--gray-400);
}

.submit{
    background: var(--blue-dark);
    border: none;
    padding: 0.75rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.875rem;
    cursor: pointer;
}