.checkAppearence{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    /* border: 2px solid var(--blue); */
    border: 2px solid var(--blue);
    width: 1.25rem;
    height: 1.25rem;
    background: transparent;
    transition: border-color 0.1s, background-color 0.1s;
}

.checkAppearence:hover{
    cursor: pointer;
    background: rgba(30, 111, 159, 0.2);
    border-color: var(--blue-dark)
}


.checked{
    background: var(--purple-dark);
}
