.info{
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.info p{
    font-weight: bold;
}

.info .created p{
    color: var(--blue);
}

.info .done p{
    color: var(--purple);
}

.info .created, .done{
    display: flex;
    gap: 0.5rem;
}

.info span{
    background: var(--gray-400);
    padding: 2px 0.5rem;
    font-weight: bold;
    border-radius: 20px;    
    font-size: 0.75rem;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 1.5rem;
    border-top: 1px solid var(--gray-400);
}

.list img{
    width: 56px;
    height: auto;
}

.list p, span{
    color: var(--gray-300);
}

.list p{
    font-weight: bold;
    margin-top: 1rem;
}