li{
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

li p{
    line-height: 1.4;
    font-size: 0.875rem;
    font-weight: 300;
    display: flex;
    flex: 1;
}

.trash{
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 4px;
    margin-top: -1px;
    transition: background-color 0.1s;
}

.trash:hover{
    background: var(--gray-400); 
    cursor: pointer;

    :only-child{
        color: var(--danger);
    }
}

.trash :only-child{
    color: var(--gray-300);
}

