li{
    display: flex;
    justify-content: space-between;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;




}

li p{
    line-height: 1.4;
    font-size: 0.875rem;
    font-weight: 300;
}

li button{
    width: 2rem;
    height: 2rem;
    border-radius: 500px;
    background: transparent;
    border: 2px solid var(--blue);
}

.trash{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    transition: background-color 0.1s;
}

.trash:hover{
    background: var(--gray-400); 
    cursor: pointer;
}

.trash :only-child{
    color: var(--gray-300);
}

.trash :only-child:hover{
    color: var(--danger);
}
